body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #333;
    text-align: center;
}

.intro-text {
    color: #666;
    text-align: center;
}

.carousel {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 10px;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    min-width: 33.33%; /* 一次顯示三張圖片 */
    box-sizing: border-box;
}

.carousel-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.recommendations {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
    overflow-x: auto; /* 允許水平滾動 */
}

.recommendation-item {
    flex: 0 0 auto; /* 防止項目縮小 */
    width: 300px; /* 調整單格圖片的寬度 */
    height: 450px; /* 調整單格圖片的高度 */
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #e9ecef;
    border-radius: 5px;
}

.recommendation-item img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* 確保圖片完整顯示 */
    border-radius: 10px;
}

.search-box {
    margin-top: 20px;
    display: flex;
}

.search-box input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}

.search-box button {
    padding: 10px;
    border: 1px solid #007BFF;
    background-color: #007BFF;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.search-box button:hover {
    background-color: #0056b3;
}

.logout {
    text-align: center;
    margin: 20px 0;
}

.logout button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #dc3545; /* 紅色 */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.logout button:hover {
    background-color: #c82333;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.search-movie {
    text-align: center;
    margin: 20px 0;
}

.search-movie button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-movie button:hover {
    background-color: #0056b3;
}

.plan ul {
    list-style-type: none;
    padding: 0;
}

.plan li {
    margin: 10px 0;
}

.plan a {
    text-decoration: none;
    color: #007BFF;
}

.plan a:hover {
    text-decoration: underline;
}