body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #333;
}

.plan ul {
    list-style-type: none;
    padding: 0;
}

.plan li {
    margin: 10px 0;
}

.plan a {
    text-decoration: none;
    color: #007BFF;
}

.plan a:hover {
    text-decoration: underline;
}

.recommendations {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap; 
    overflow-x: auto; 
}

.recommendation-item, .top10-item {
    background-color: #e9ecef;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    flex: 0 0 auto; 
    width: 200px; 
    height: 300px; 
    display: flex;
    justify-content: center;
    align-items: center; 
    overflow: hidden;
}

.recommendation-item img, .top10-item img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}

.search-box {
    margin-top: 20px;
    display: flex;
}

.search-box input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}

.search-box button {
    padding: 10px;
    border: 1px solid #007BFF;
    background-color: #007BFF;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.search-box button:hover {
    background-color: #0056b3;
}

.logout {
    margin-top: 20px;
    text-align: right;
}

.logout button {
    padding: 10px 20px;
    border: none;
    background-color: #dc3545;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.logout button:hover {
    background-color: #c82333;
}

.intro-text {
    font-size: 0.9em; 
    color: #6e6c6c;
}

.top10-list {
    display: flex;
    flex-wrap: nowrap; /* 不換行，橫向排列 */
    overflow-x: auto; /* 橫向滾動 */
    justify-content: center; /* 置中內容 */
}